.table-container {
  margin: 0 14px;
  overflow-x: auto;
  border-radius: 4px 4px 0 0;
}

.active-row {
  background: var(--color-gray);
}

.table-content {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  min-width: 900px;
}

.table-content input[type="checkbox"] {
  width: 15px;
  height: 15px;
}

.table-content thead tr {
  background: #009879;
  color: white;
  text-transform: uppercase;
}

.table-content th,
.table-content td {
  padding: 11px 14px;
}

.table-content tbody tr {
  border-bottom: 1px solid #ddd;
  transition: 0.3s;
}

.table-content tbody tr:hover {
  background: #ececec;
}

.table-content tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.action-btn {
  font-size: 1.2rem;
}
.action-btn .delete-icon {
  margin-left: 8px;

  color: red;
}

.table-content input[type="text"] {
  width: 80%;
  font-family: inherit;
  background: white;
  border: 2px solid var(--color-primary);
  font-size: 0.95rem;
  border-radius: 2px;
  padding: 0px 3px;
}

.edit-button {
  display: flex;
  align-items: center;
  gap: 4px;
}
.save-button {
  font-family: inherit;
  width: 40%;
  border-radius: 4px;
  padding: 3px 4px;
  border: none;
  background: var(--color-primary);
  color: white;
}

.cancel-button {
  font-family: inherit;
  width: 40%;
  border-radius: 4px;
  padding: 3px 4px;
  border: 1px solid rgb(254, 49, 49);
  background: transparent;
  color: rgb(254, 49, 49);
}

@media screen and (max-width: 660px) {
  .table-content th,
  .table-content td {
    padding: 8px 12px;
  }
}
